# ESP-IDF build output
build/
sdkconfig
sdkconfig.old

# Visual Studio / VSCode
.vscode/
.vs/
*.vcxproj.user

# Windows simulator build output
main/GdiSimulator/x64/
main/Windows/x64/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ninja
.ninja_deps
.ninja_log

# IDF Python environment
.espressif/

# Logs
log/

# Binary output
*.bin
*.elf
*.map
*.exe
*.pdb
*.ilk
*.res
*.exe

# Object files
*.o
*.obj

# Temporary files
*.tmp
*.log

# Windows junk
Thumbs.db
Desktop.ini

# Hardware
Hardware/Kicad/.history/
Hardware/Kicad/*.bak
Hardware/Kicad/.history
Hardware/Kicad/1DGames-backups/



